---
title: "Личный сайт"
layout: single
classes: wide
related: true
share: true
toc: false
comments: false
author_profile: true
permalink: /

header:
  overlay_image: /assets/images/splash_image.jpg
excerpt: "Михаил Коротеев - преподаватель, ученый и разработчик, специализирующийся на системах машинного обучения в экономике и финансах."


highlights:

  - title: "17 ноября 2023"
    image_path: https://static.tildacdn.com/tild3734-6136-4334-b766-363539363331/silver_white_111.png
    excerpt: "На масштабном форуме MICE Exellence forum Михаил Коротеев расскажет о типичных ошибках при внедрении систем искусственного интеллекта."
    btn_label: "Регистрация"
    btn_class: "btn--primary"
    url: https://mice-excellence.ru/

  - title: "19 ноября 2023"
    image_path: https://www.sut.ru/images/news/2018/11.09/5.jpg
    excerpt: "На образовательной выставке в Москве Михаил Коротеев познакомит участников с современным ИТ-образованием."
    btn_label: "Регистрация"
    btn_class: "btn--primary"
    url: https://propostuplenie.ru/navigator/moskva/

  - image_path: https://www.cloudflight.io/app/uploads/2023/04/230424_ml-model-development_infographic_2.jpg
    caption: "Photo credit: [**CloudFlight**](https://www.cloudflight.io/en/blog/mlwhat-what-is-mlops-and-why-you-should-care/)"
    title: "MLOps"
    excerpt: "В разработке учебный курс 'MLOps' - внедрение и поддержка моделей машинного обучения в продакшене. Осенью 2023 года - первая итерация для студентов."
    # url: "/scipop/peterson-essay/"
    btn_label: "Перейти"
---


<h1>Домашняя страница Михаила Коротеева</h1>
<br>

Я работаю доцентом в Департаменте анализа данных Финансового университета при правительсте РФ. 
В университете я занимаюсь разработкой и проведением учебных <a href="/courses">курсов</a> в различных областях IT, веду ряд научных и прикладных <a href="/science">проектов</a>.
Кроме того, я занимаюсь <a href="scipop">переводом</a> научно-популярных статей и видеороликов. 
<br>


<h2>Разделы</h2>
<a href='/talks'><button href='#' class='btn btn-primary'> Выступления </button></a>
<a href='/bookds'><button href='#' class='btn btn-primary'> Книги </button></a>
<a href='/courses'><button href='#' class='btn btn-primary'> Курсы </button></a>
<a href='/science'><button href='#' class='btn btn-primary'> Наука </button></a>
<a href='/projects'><button href='#' class='btn btn-primary'> Проекты </button></a>
<a href='/scipop'><button href='#' class='btn btn-primary'> Публицистика </button></a>
<a href='/blog'><button href='#' class='btn btn-success'> Все записи в блоге </button></a>

<h2>Обратите внимание</h2>
{% include  feature_row id="highlights" %}
<br>

<h2>Из недавнего</h2>

{% for post in site.posts limit:5 %}

  {% capture year %}{{ post.date | date: '%d %b %Y' }}{% endcapture %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
  {% include archive-single-tags.html %}
  <p><br></p>

{% endfor %}
