---
title: "Личный сайт"
layout: single
classes: wide
related: true
share: true
toc: false
comments: false
author_profile: true
permalink: /

header:
  overlay_image: /assets/images/splash_image.jpg
excerpt: "Михаил Коротеев - преподаватель, ученый и разработчик, специализирующийся на системах машинного обучения в экономике и финансах."


highlights:

  - title: "Блог об ИИ в VK"
    excerpt: "Мы запустили новый блог, посвященный новостям и аналитике в мире ИИ. Самая полезная подборка ссылок и аналитических материалов - в нашем паблике в Vkontakte."
    url: "https://vk.com/ai_tech_future"
    btn_label: "Читать"
    btn_class: "btn--primary"

  - title: "Блог об ИИ в Telegram"
    excerpt: "Новостной блог о последних достижениях в области ИИ. Подписывайтесь на Телеграм - там самая полная подборка материаловпо нейросетям."
    url: "https://t.me/ai_tech_future"
    btn_label: "Читать"
    btn_class: "btn--primary"

  - title: "Новая дисциплина"
    # image_path: "/assets/images/peterson.jpg"
    excerpt: "В разработке учебный курс 'MLOps' - внедрение и поддержка моделей машинного обучения в продакшене. Осенью 2023 года - первая итерация для студентов."
    # url: "/scipop/peterson-essay/"
    # btn_label: "Перевод"
    # btn_class: "btn--primary"
---


<h1>Домашняя страница Михаила Коротеева</h1>
<br>

Я работаю доцентом в Департаменте анализа данных Финансового университета при правительсте РФ. 
В университете я занимаюсь разработкой и проведением учебных <a href="/courses">курсов</a> в различных областях IT, веду ряд научных и прикладных <a href="/science">проектов</a>.
Кроме того, я занимаюсь <a href="scipop">переводом</a> научно-популярных статей и видеороликов. 
<br>


<h2>Разделы</h2>
<a href='/cv'><button href='#' class='btn btn-primary'> Резюме </button></a>
<a href='/talks'><button href='#' class='btn btn-primary'> Выступления </button></a>
<a href='/blog'><button href='#' class='btn btn-primary'> Блог </button></a>
<a href='/courses'><button href='#' class='btn btn-primary'> Курсы </button></a>
<a href='/science'><button href='#' class='btn btn-primary'> Наука </button></a>
<a href='/scipop'><button href='#' class='btn btn-primary'> Публицистика </button></a>

<h2>Обратите внимание</h2>
{% include  feature_row id="highlights" %}
<br>

<h2>Из недавнего</h2>

{% for post in site.posts limit:5 %}

  {% capture year %}{{ post.date | date: '%d %b %Y' }}{% endcapture %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
  {% include archive-single-tags.html %}
  <p><br></p>

{% endfor %}
