---
title: "Личный сайт"
layout: single
classes: wide
related: true
share: true
toc: false
comments: false
author_profile: true
permalink: /

header:
  overlay_image: /assets/images/splash_image.jpg
excerpt: "Михаил Коротеев - преподаватель, ученый и разработчик, специализирующийся на системах машинного обучения в экономике и финансах."


feature_row_certs:

  - url: /assets/images/certs/ml.png
    image_path: "/assets/images/certs/ml.png"
    title: ""

  - url: /assets/images/certs/google.png
    image_path: "/assets/images/certs/google.png"

  - url: /assets/images/certs/md.png
    image_path: "/assets/images/certs/md.png"

  - url: /assets/images/certs/pgm.png
    image_path: "/assets/images/certs/pgm.png"

  - url: /assets/images/certs/python.png
    image_path: "/assets/images/certs/python.png"


feature_row_projects:

  - title: "Обзор MLOps"
    image_path: "/assets/images/mlops.png"
    alt: "Обзор MLOps"
    excerpt: "Эксперт попытался дать общую характеристику MLOps. Что это такое, зачем нужно и какие инструменты существуют?"
    url: "/scipop/peterson-essay/"
    btn_label: "Перевод"
    btn_class: "btn--primary"

  - image_path: /assets/images/inference-and-prediction-2/image6.png
    alt: "Вывод и предсказания. Часть 2: статистика"
    title: "Вывод и предсказания. Часть 2: статистика"
    excerpt: "Перевод второй из трех статей про сравнение двух подходов к моделированию данных - статистическому и обучающему. Вторая часть посвящена связи простых алгоритмов машинного обучения и статистических моделей."
    url: "scipop/inference-and-prediction-2/"
    btn_label: "Перевод"
    btn_class: "btn--primary"

  - title: "Дж. Б. Питерсон. Руководство по написанию эссе"
    image_path: "/assets/images/peterson.jpg"
    alt: "Дж. Б. Питерсон. Руководство по написанию эссе"
    excerpt: "Перевод прекрасного руководства по написанию эссе от профессора Питерсона. Инструкция учит структурированному и организованному процессу написания текстов."
    url: "/scipop/peterson-essay/"
    btn_label: "Перевод"
    btn_class: "btn--primary"


feature_row_courses:

  - image_path: /assets/images/os_logo.png
    overlay_filter: rgba(255, 0, 0, 0.5)
    caption: "Photo credit: [**PBPython**](https://pbpython.com/wsl-python.html)"
    title: "UNIX"
    excerpt: "Курс по использованию и настройке ОС Linux для программирования и создания сетевых приложений"
    url: "/os"
    btn_label: "Перейти"
    btn_class: "btn--primary"

  - image_path: /assets/images/mobile_logo.png
    caption: "Photo credit: [**PinClipart**](https://www.pinclipart.com/pindetail/bRmJwo_loading-speed-is-crucial-to-many-rn-apps/)"
    title: "Android"
    excerpt: "Вводный курс по основам разработки мобильных приложений для ОС Android"
    url: "/md"
    btn_label: "Перейти"
    btn_class: "btn--primary"

  - image_path: /assets/images/ml_logo.png
    caption: "Photo credit: [**Quantum**](https://ml2quantum.com/scikit-learn/)"
    title: "ML"
    excerpt: "Баозвый курс по машинному обучению и анализу данных на языке Python"
    url: "/ml"
    btn_label: "Перейти"
    btn_class: "btn--primary"
---


<h1>Домашняя страница Михаила Коротеева</h1>
<br>

Я работаю доцентом в Департаменте анализа данных Финансового университета при правительсте РФ. 
В университете я занимаюсь разработкой и проведением учебных <a href="/courses">курсов</a> в различных областях IT, веду ряд научных и прикладных <a href="/science">проектов</a>.
Кроме того, я занимаюсь <a href="scipop">переводом</a> научно-популярных статей и видеороликов. 
<br>


<h2>Разделы</h2>
<a href='/courses'><button href='#' class='btn btn-primary'> Все курсы </button></a>
<a href='/scipop'><button href='#' class='btn btn-primary'> Научпоп </button></a>
<a href='/talks'><button href='#' class='btn btn-primary'> Выступления </button></a>
<!-- <a href='/cv'><button href='#' class='btn btn-primary'> Резюме </button></a> -->

<h2>Мои курсы</h2>

{% include  feature_row id="feature_row_courses" %}

<h2>Последние проекты</h2>
{% include  feature_row id="feature_row_projects" %}
<br>

<h2>Мои дипломы</h2>
{% include gallery id="feature_row_certs" %}
<br>

<h2>Мои научные интересы:</h2>
<ul>
  <li>MLops</li>
  <li>Искусственный интеллект и машинное обучение</li>
	<li>Проектирование и реализация сложных информационных систем</li>
	<li>Математическое моделирование экономических процессов</li>
	<li>ИТ образование и разработка профильных курсов</li>
</ul>

<h2>Последние публикации</h2>

{% for post in site.posts limit:10 %}
  <h2></h2>
  {% include archive-single-tags.html %}
{% endfor %}
