---
layout: single
---

{% for section in page.sections %}
	{% if section.title %}
  		<h2 id="{{ forloop.index }}-title"> {{ section.title }} </h2>
  {% endif %}

	{% if section.overview %}
   		<p> {{ section.overview }}</p>
  {% endif %}
  
	{% if section.document %}
  		<h3 id="{{ forloop.index }}-docs">Методические указания</h3>
  		Читать <a href="{{ section.document }}">на Google Диске</a>.
  {% endif %}

	{% if section.youtube %}
  		<h3 id="{{ forloop.index }}-video">Видео семинара</h3>

      <div class="responsive-video-container">
      <iframe src="https://www.youtube-nocookie.com/embed/{{ section.youtube }}" 
        frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
      </iframe>
    </div>
  {% endif %}

  {% if section.slides %}
      <h3 id="{{ forloop.index }}-slides">Презентация</h3>
      Смотреть слайды <a href="{{ section.slides }}">на Google Диске</a>.
  {% endif %}

  {% if section.textbook %}
      <h3 id="{{ forloop.index }}-textbook">Учебник</h3>
      Читать материал по этой теме <a href="{{ section.textbook }}">в учебнике</a>.
  {% endif %}

  {% if section.additional %}
      <h3 id="{{ forloop.index }}-additional">Дополнительные материалы</h3>
      <ul>
      {% for link in section.additional %}
        <li> <a href="{{ link.url }}"> {{ link.title }} </a>
      {% endfor %}
      </ul>
  {% endif %}

{% endfor %}


{{ content }}

